@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,249;0,306;0,427;1,100;1,162;1,283;1,547&family=Montserrat&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
 * {
     box-sizing: border-box;
     padding: 0;
     margin: 0;
     transition:0.5s;
}
 .about-header-title {
     margin-top: 50px;
     margin-left: 10px;
     transition: 0.5s;
     width: max-content;
     display: inline-block;
     line-height: 0.85;
     box-shadow: 0px .1em 0 0 10px currentColor;
}
 .about-header-title:hover {
     text-decoration-skip-ink: all;
     box-shadow: 0 .1em 0 0 currentColor;
}

.about-header-title-button {
    border:1px solid rgb(90, 90, 255);
    border-radius:50px;
    width:20%;
    height:60px;
    background:linear-gradient(rgb(58, 58, 196),rgb(52, 173, 239));
    margin-top:140px;
    font-size:25px;
    color:white;
    font-family:Roboto, sans-serif;
    margin-left:60px;
    font-weight:400;
    box-shadow:0 30px 50px 10px rgba(0,0,0,0.3);
}

.about-header-title-button:hover {
    transform:scale(1.02,1.02) translateY(-3px);
    box-shadow:0px 33px 40px 10px rgba(0,0,0,0.3);
}

.about-header-title-button:active {
    transform:scale(0.95,0.95);
    box-shadow:0px 33px 30px 16px rgba(0,0,0,0.3);
}
 .about-subtitle {
     margin-top: 10px;
     margin-left: 10px;
}

.article-gallery-homepage {
  display:flex;
  flex-direction:row; 
  background:linear-gradient(to right, #fffef2,#f2fafa);
  height:min-content;
  flex-wrap: wrap;
  width:100%;
}

.article-image {
    max-width:100%;
    max-height:70%;
    min-width:100%;
    border-top-left-radius:15px;
    border-top-right-radius:20px;
}
.article-item {
  height:350px;
  background-color:rgb(245, 245, 245);
  border:4px solid rgb(215, 215, 215);
  border-radius:20px;
  box-shadow: 0 40px 30px 10px #00000033;
  margin:20px;
  width:30%;
  min-width:300px;
  max-width:600px;
}

.article-item:hover {
  transform:translateY(-5px);
  box-shadow: 0 45px 30px 10px #00000063;
}

.article-item > h1 {
  bottom: 0;
  font-size:26px;
  margin-left:10px;
}

.article-item > p {
    margin-left:10px;
    margin-top:10px;
}

 .close {
     color: #aaaaaa;
     float: right;
     font-size: 28px;
     font-weight: bold;
     margin-top:0px;
}
 .close:hover, .close:focus {
     color: #000;
     text-decoration: none;
     cursor: pointer;
}

 .container {
     width: 1170px;
     position: relative;
     margin-left: auto;
     margin-right: auto;
     padding-left: 15px;
     padding-right: 15px;
}

.divider-text {
  color:white;
  font-weight:500;
  text-align:center;
  font-size:40px;
  line-height:100px;
}

#dropdown {
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(.95,-0.19,0,1);
}

 .emphasize {
     color: blueviolet;
}
 .hero-image {
     width: 100%;
     filter: blur(0px);
     background: url('https://i.ibb.co/ZxJp1cf/coronaviru.png');
     height: 550px;
     margin-top: 0px;
     background-size: cover;
}

.gallery {
    background-color:#ccc;
    height:100vh;
    z-index: -1;
    position:absolute;
    top:200px;
    right:0;
    left:0;
    display:flex;
    flex-direction:row; 
    background:linear-gradient(to right, #fffef2,#f2fafa);
    height:min-content;
    flex-wrap: wrap;
    width:100%;
}
.gallery-title {
    background:linear-gradient(95deg, rgb(50, 68, 224), rgb(89, 218, 190));
    width:100%;
    height:200px;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size:40px;
    font-weight:800;
}

.gallery-title > h1 {
    color:white;
    transform: translateZ(-1px) scale(1.5);
    position: absolute;
}
header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
    z-index:7;
    text-align:center;
    justify-content: space-around;
    font-family:roboto, sans-serif;
    font-weight:300;
}

header * {
    display: inline;
}

header li {
    margin: 20px;
}

header li a {
    color: black;
    text-decoration: none;
}

header li .special {
    height:fit-content;
    width:fit-content;
    border-radius:5px;
    padding: 5px;
    padding-left:10px;
    padding-right: 10px;
    color:rgb(255, 255, 255);
    font-size:20px; 
    font-weight:400;
    border-radius: 40px;
    background: #2e3eed;
    box-shadow: -2px 2px 4px rgb(142, 142, 142),
                inset -5px -5px 10px #12195f, 
                inset 5px 5px 10px #4a63ff;
    display:inline-block;
    transition:0.7s;
}

header li .special:hover {
    background-color:#5763f1;
    font-weight:500;
    box-shadow: -2px 2px 4px rgb(142, 142, 142),
    inset -5px -5px 10px #12195f, 
    inset 5px 5px 10px #4a63ff,
    0 0 30px rgb(178, 186, 239);
    
}

header li .special:active {
    box-shadow: 0px 0px rgb(142, 142, 142),
    inset 5px 5px 10px #12195f, 
            inset -5px -5px 10px #4a63ff;
    transform:translate(-2px, 2px);
}
 .modal {
     display: none;
     position: fixed;
     z-index: 1;
     padding-top: 100px;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(0,0,0,0.4);
}
 .modal-content {
     background: linear-gradient(#baefde,#c2e5e5);
     margin: auto;
     margin-top:40%;
     padding: 20px;
     width: 50%;
     border-radius: 10px;
     animation-duration: 1s;
     animation-timing-function: cubic-bezier(.60,0,.40,1);
     font-size:20px;
     text-align:center;
     z-index: 1;
     height:200px;
     padding-top:10%;
}
 .subtitle-homepage {
     font-size: 40px;
     font-weight: 100;
     text-align: left;
     transform: translateY(110px);
     color: white;
     margin-left: 50px;
}
 .title-homepage {
     font-size: 100px;
     text-align: left;
     font-family: Epilogue;
     transform: translateY(100px);
     padding: 10px;
     color: white;
     margin-left: 50px;
}

.sub-hero-image-divider {
  height:100px;
  background:linear-gradient(to right, rgb(94, 158, 255),rgb(158, 176, 255))
}
 @keyframes modal-fade-in {
     from {
         opacity: 0;
    }
     to {
         opacity: 1;
    }
}

@keyframes comeup {
    to {opacity:0; transform:translateY(-100px)}
}

@keyframes comedown {
    from {opacity:1; transform:translateY(-100px)}
}
 @media (max-width: 900px) {
     .navbar .navbar-header h4 {
         font-size: 1.05rem;
    }

     .navbar, .navbar .container {
         display: block;
    }

     .navbar .navbar-menu {
         display: none;
         text-align: center;
    }

     .navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown {
         position: relative;
         box-shadow: none;
    }

     .navbar .navbar-menu .navbar-nav > li > a {
         border-bottom: 1px solid #EEE;
    }

     .navbar .navbar-menu .navbar-nav {
         width: 100%;
         display: block;
         border-top: 1px solid #EEE;
         margin-top: 1rem;
    }

     .navbar .navbar-header {
         width: 100%;
         display: flex;
         align-items: center;
         justify-content: space-between;
         flex-direction: row-reverse;
    }

     .navbar .navbar-header .navbar-toggler {
         display: block;
    }

    .title-homepage {
      font-size:70px;
      font-weight:300;
    }

    .subtitle-homepage {
      font-size:30px;
    }

    .about-header-title-button {
        width:30%;
    }

    .hero-image {
        height:550px;
    }
}
 @media (min-width: 1300px) {
     .navbar .container {
         max-width: 1140px;
    }

    .hero-image {
        height:450px;
    }
}
 @media (min-width: 576px) {
     .navbar .container {
         max-width: 540px;
    }
}
 @media (min-width: 768px) {
     .navbar .container {
         max-width: 720px;
    }
}
 @media (min-width: 992px) {
     .navbar .container {
         max-width: 960px;
    }
}
 a {
     text-decoration: none;
}

a:hover {
  color:grey;
}
 body {
     font-family: 'Roboto', sans-serif;
     font-size: 0.925rem;
}
